<div class="navbar">
  <div class="left-navbar">
    <div class="menu"><a href="{{ site.baseurl }}/">Home</a></div>
    <div class="menu">
      <a href="https://github.com/FXDROS/virtualbox-on-macos">GitHub</a>
    </div>
  </div>
  {% comment %}
  <div class="right-navbar">
    <div class="menu">
      <a href="{{ site.baseurl }}/UpdateVirtualBox/">Update Virtual Box</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/ExtensionError/">Extension Error</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/KernelError/">Kernel Driver Error</a>
    </div>
    <div class="menu">
      <a href="{{ site.baseurl }}/X11OnMacOS/">X11 On MacOS</a>
    </div>
  </div>
  {% endcomment %}
</div>
