@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.plainclass {
  margin: 0;
  color: #1a1a1a;
  background: #eeeeee;
}

.navbar {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  padding: 1.75rem 0 1.75rem 1.75rem;
  font-size: 1rem;
  background-color: #eeeeee;
  filter: drop-shadow(0 2mm 0.75rem #bebebe);
}

.navbar .left-navbar .menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  font-weight: 400;
  margin: 1rem;
}

.navbar .left-navbar .menu a:hover {
  font-weight: 600;
}

.navbar .left-navbar {
  display: flex;
}

.navbar .left-navbar .menu {
  width: 80px;
  text-align: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 150px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.content p img {
  width: 900px;
}

.content p {
  margin-top: 3rem;
  max-width: 900px;
}

.content p,
.content li,
.content {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.content h1 {
  width: 900px;
  text-align: center;
}

.content a {
  text-decoration: none;
  color: rgb(0, 89, 206);
}

.footer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: #000000;
  font-family: "Poppins", sans-serif;
  border-top: 2px solid #1a1a1a;
  text-align: center;
  padding: 1.75rem 0 1.75rem 0;
}

.footer a {
  color: rgb(56, 9, 46);
  text-decoration: none;
}
